{% extends 'app/header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/teor.css' %}">
{% endblock %}

{% block content %}

    <div class="studing"><p id="titl">К изучению</p></div>
    <div class="content">
      <div class="tema">
        <div class="buttons_cont">
          <button class="button_tema" id="klas">Классическое определение вероятности</button>
          <button class="button_tema" id="deystv">Действия над событиями и соотношения между ними</button>
          <button class="button_tema" id="geom">Геометрическая вероятность</button>
          <button class="button_tema" id="slozh">Сложение и умножение вероятностей</button>
          <button class="button_tema" id="poln">Формула полной вероятности</button>
          <button class="button_tema" id="bayes">Формула Байеса</button>
          <button class="button_tema" id="bern">Формула Бернулли</button>
          <button class="button_tema" id="naiv">Наивероятнейшее число</button>
          <button class="button_tema" id="lapl">Формула Муавра-Лапласа</button>
          <button class="button_tema" id="int-lapl">Интегральная формула Муавра-Лапласа</button>
          <button class="button_tema" id="puas">Формула Пуассона</button>
          <button class="button_tema" id="diskr">Дискретные случайные величины и их числовые характеристики</button>
          <button class="button_tema" id="nepr">Непрерывные случайные величины и их числовые характеристики</button>
          <button class="button_tema" id="norm">Нормальное распределение</button>
        </div>
      </div>
      <div class="text-material">
        <p class="text-material-tema" id="textteor">
        </p>
      </div>
      <script src="{% static 'vendor/js/teor.js' %}"></script>
    </div>
{% endblock %}
